@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #0C090D;
}
.selected{
    font-weight: bold;
    border-bottom: 2px solid #aed3c8;
}
nav{
    text-align: center;
    margin: 15px;
}
nav a{
    margin-right: 15px;
    text-decoration: none;
    color: #aed3c8;
}
nav a:hover{
    color: #17bebb;
    transition: 0.5s;
}
header h1{
    font-size: 3em;
    margin-bottom: -8px;
    color: #A4161A;
}
header p{
    color: #660708;
}
html,
body{
    min-height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    width: 100%;
    flex: 1 0 auto;
}
footer{
    width: 100%;
    background-color: red;
    flex: 0 0 auto;
    height: 100px;
    margin-top: 60px;
}
.pf{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: flex-start;
}
.popular-films, .popular-serials, .novinki{
    overflow: auto;
    min-height: 310px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row wrap;
}
.main-content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.film, .serial, .new{
    flex: none;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 440px;
    height: auto;
    margin-bottom: 20px;   
}
.film:nth-child(3n), .serial, .new{
    page-break-after: always;
    break-after: always;
}
.film img, .serial img, .new img{
    object-fit: cover;
    width: 70%;
    height: 100%;
    object-position: center;
}
.main-content h2{
    margin: 40px 0px 20px 20px;
    text-align: center;
}
.news-block{
    border: #000 solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.news-block p{
    text-align: center;
    font-style: oblique;
}
.news-block h2{
    margin: 0;
}